@charset "ISO-8859-1";

fieldset {
	display: flex;
	flex-direction: column;
	width: 20%; 
	align-items: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background: white;
	border-radius: 10px;
}

#titreListe{
	margin-right:85%
}
thead{

	opacity: 0.5;
	background-color: rgba(230, 243, 255,1);
}
body {
	background:#e6f3ff;
	display: flex;
	flex-direction: column;
	text-align: center;
}





table {
	background: white;
	border-collapse: collapse;
	margin-left : auto;
	margin-right: auto;
	width:95%;
	border-radius: 10px;

}
td{
	
	padding:10px;
	background: white;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px

}

.tableBouton {
	display: flex;
	flex-direction: column;
	margin-top: 2em;
}
#boutonUpdateRemove{
    border:0;
    background:transparent;

	
}
.boutonAdd {
width:10%;
background: #59d;
color: #fff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
display: inline-block;
min-width: 110px;
margin: 15px 5px;
padding: 10px 15px 12px;
font: 700 12px/1 'Open Sans', sans-serif;
border-radius: 3px;
box-shadow: inset 0 -1px 0 1px rgba(0, 0, 0, 0.1), inset 0 -10px 20px rgba(0, 0, 0, 0.1);
cursor: pointer;
margin-left:87%;
border-radius: 30px;
}
legend{
	justify-content: center;
}
h1{
	
	font-family: calibri;
}

.formInput{
	margin-top:1em;
	margin-bottom: 1em;
	width:90%;
	height:30px;
	border-radius: 5px;
	
	
}
#codePostal{
	margin-top:1em;
	margin-bottom: 1em;
	width:33%;
	height:30px;
	border-radius: 5px;
}
label{
	
/* 	margin-right: 60%; */
/* 	text-align: right; */
}
.boutonEnregistrer{
	width:10%;
background: #59d;
color: #fff;
min-width: 110px;
margin: 15px 5px;
padding: 10px 15px 12px;
font: 700 12px/1 'Open Sans', sans-serif;
border-radius: 3px;

cursor: pointer;

border-radius: 30px;
	
}
.recherche{
	display:flex;
	width:5%;
	flex-direction:column;
	margin-left: 3%;
}
.idRecherche{

	margin-left: 2%;
	border-radius: 5px;

}
